{% extends "app_base.html" %}

{% block content %}

    <div>

        <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

            <div id="box" class="carousel-inner" role="listbox">
                {% for image in image_list %}

                    {% if image.id == 0 %}
                        <div id={{image.id}} class="item active text-center" >
                            <img class="home" src={{url_for('static', filename="images/"+image.path)}}>
                        </div>

                    {% else %}
                        <div id={{image.id}} class="item text-center" >
                            <img class="home" src={{url_for('static', filename="images/"+image.path)}}>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
            <div class="row container icon">
                <div class="col-xs-4">
                    <a href="{{url_for('app_message.messages')}}">
                        <img src="https://png.pngtree.com/png-vector/20190801/ourlarge/pngtree-camera-icon-png-image_1638978.jpg" class="img-circle"width="50%">
                    </a>
                </div>
                <div class="col-xs-4">

                    <a href="{{url_for('spControl.search')}}">
                        <img src="https://developer.spotify.com/assets/branding-guidelines/icon2@2x.png" class="img-circle" width="50%">
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="{{url_for('schedule')}}">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQklwjii2lQGQWOocTmTuSW2qOMO2rAmplENQ&usqp=CAU" class="img-circle"width="50%">
                    </a>
                </div>
            </div>

            {#<ol class="carousel-indicators">
                {% for image in image_list %}
                    {% if image.id == 0%}
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    {% else %}
                        <li data-target="#myCarousel" data-slide-to={{image.id}}></li>
                    {% endif %}
                {% endfor %}
            </ol>
            #}
        </div>
    </div>
    <br>
    <div class="container bg-1">
        <h3>This is the placeholder for the social feed carousel</h3>
    </div>
    <br>
    <div class="container bg-4">
        <div id="postCarousel" class="carousel slide" data-ride="carousel">
            <div class="container bg-1">
                <div id="postBox" class="carousel-inner" role="listbox">
                    {% for post in posts %}
                        {% if loop.index == 1 %}
                            <div id={{loop.index}} class="item active" >
                                <h4><strong>{{post.user.username}}</strong></h4>
                                <h6>{{post.timestamp.time().replace(second=0, microsecond=0)}}</h6>
                                <hr>
                                <p>{{post.message}}</p>
                                <div class="container text-center">
                                {% if post.file_loc != "" %}
                                    <img class="toggleimg" src="{{post.file_url}}" width="100%">
                                {% endif %}
                                </div>
                            </div>

                        {% else %}
                            <div id={{loop.index}} class="item" >
                                <h4><strong>{{post.user.username}}</strong></h4>
                                <h6>{{post.timestamp.time().replace(second=0, microsecond=0)}}</h6>
                                <hr>
                                <p>{{post.message}}</p>
                                <div class="text-center">
                                    {% if post.file_loc != "" %}
                                        <img class="toggleimg" src="{{post.file_url}}" width="100%">
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <br>
                    <br>
                    <ol class="carousel-indicators">
                        {% for post in posts %}
                            {% if loop.index == 1 %}
                                <li data-target="#postCarousel" data-slide-to="0" class="active"></li>
                            {% else %}
                                <li data-target="#postCarousel" data-slide-to={{loop.index}}></li>
                            {% endif %}
                        {% endfor %}
                     </ol>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='/js/bcSwipe/jquery.bcSwipe.js')}}"></script>
    <script>
        $(document).ready(function(){
            $('#postCarousel').bcSwipe({ threshold: 80 });

            $('.carousel').carousel({
                interval: 10000
            })
        })
    </script>
{% endblock %}


