{% extends "app_base.html" %}

    {% block content %}
    <br>
    <div class="text-center ">
        {% if focus.url_bool %}
            <img src={{focus.cover_url}} class="img-circle" width="125px" height="125px">
        {% else %}
            <img src="https://cdn3.iconfinder.com/data/icons/social-media-circle-flat-1/1024/itunes-01-01-512.png" class="img-circle" width=75px height=75px>
        {% endif %}
        <h1 class="text-center"><strong>{{focus.name}}</strong></h1>
    </div>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel" data-interval=""false>
        <h3><strong>Albums</strong></h3>
        <h6><strong  id="count"></strong></h6>
        <div id="box" class="carousel-inner" role="listbox">
            {% for album in album_list %}

                {% if album.id == 0 %}
                    <div id={{album.id}} class="item active" >
                        <div class="text-center">
                            <a href="#{{album.id}}-track" data-toggle="collapse">
                                <img src={{album.cover_url}} class="album">
                            </a>
                                <p><strong>{{album.name}}</strong></p>
                        </div>
                    </div>

                {% else %}
                    <div id={{album.id}} class="item" >
                        <div class="text-center">
                            <a href="#{{album.id}}-track" data-toggle="collapse">
                                <img src={{album.cover_url}} class="album">
                            </a>
                                <p><strong>{{album.name}}</strong></p>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        </div>
        {% for album in album_list %}
        <div id="{{album.id}}-track" class="container bg-1 text-center collapse"  >
                {% for track in album.tracks %}
                <h4><a href="{{url_for('spControl.add_song', uri=track.uri)}}">{{track.name}}</a></h4>
                {% endfor %}
        </div>
        {% endfor %}

    </div>
    <div class="container">
        <h3 class="text-center"><strong> Artists related to {{focus.name}}</strong></h3>
        <div class="row">
            {% for artist in related %}
                <a href="{{url_for('spControl.artistPage', uri=artist.uri)}}" class="band">
                    <div class="col-xs-4">
                        <div class="text-center">
                           {% if artist.url_bool %}
                            <img src={{artist.cover_url}} class="img-circle" width=75px height=75px>
                            {% else %}
                            <img src="https://cdn3.iconfinder.com/data/icons/social-media-circle-flat-1/1024/itunes-01-01-512.png" class="img-circle" width=75px height=75px>
                            {% endif %}
                            <h6 class="text-center"><strong> {{artist.name}}</strong></h6>
                        </div>
                    </div>

                </a>
            {% endfor %}
        </div>
    </div>
    <br>

{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='/js/bcSwipe/jquery.bcSwipe.js')}}"></script>
<script>
$(document).ready(function(){
    $('.carousel').bcSwipe({ threshold: 80 });

    var totalItems = $('.item').length;
    var currentIndex = $('div.active').index() + 1;
    $('#count').html(''+currentIndex+'/'+totalItems+'');

    $("#myCarousel").on('slide.bs.carousel', function(e){
       $('.collapse.in').collapse('hide');
    });
    $(".collapse").on("hide.bs.collapse", function(e){
        console.log(e.target.id);
    });
    $('#myCarousel').on('slid.bs.carousel', function() {
        currentIndex = $('div.active').index() + 1;
        $('#count').html(''+currentIndex+'/'+totalItems+'');
    });
})
</script>
{% endblock %}
